@import 'bootstrap/dist/css/bootstrap';

html,
body {
  height: 100%;
  padding-top: 3rem;
}

.navbar {
  background-color: black !important;
  padding: 1.5rem;
}

#logo {
  float: left;
  font-size: 1.7rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.nav-link {
  color: white !important;
}

#home-container {
  margin-top: 1rem;
}

#home-container-text {
  font-size: 1.7rem;
}

.jumbotron {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    asset-url('jumbo-copy.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vertical-center {
  min-height: 80%; /* Fallback for browsers do NOT support vh unit */
  min-height: 80vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgray;
  padding-bottom: 5rem;
}

.custom {
  width: 78px !important;
}

/* pagination styling */
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}
.flickr_pagination a,
.flickr_pagination span,
.flickr_pagination em {
  padding: 0.2em 0.5em;
  border-radius: 5px;
}
.flickr_pagination .disabled {
  color: #aaaaaa;
}
.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #00ab66;
}
.flickr_pagination a {
  border: 1px solid whitesmoke;
  color: whitesmoke;
  text-decoration: none;
}
.flickr_pagination a:hover,
.flickr_pagination a:focus {
  border-color: grey;
  background: whitesmoke;
  color: grey;
}
.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}
.flickr_pagination .previous_page,
.flickr_pagination .next_page {
  border-width: 2px;
}
.flickr_pagination .previous_page {
  margin-right: 1em;
}
.flickr_pagination .next_page {
  margin-left: 1em;
}
